<%- include('../partials/header.ejs')%>
<div class="rsvpdesc">
    <form formaction="/" method = 'POST'>
        
        <input type="radio" name = "rsvp" value="yes"> Bid </br>
       
       <input type="submit" value="Submit">
            
    </form>

</div>
<%- include('../partials/footer.ejs')%>
