    <footer>
        <div>
            <ul>
                <li><a href="/"> GOA</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/" target="_blank">Insta</a></li>
            </ul>
        </div>
    </footer>
