<%- include('./partials/header.ejs')%>
    <main>
        <div >
            <h4>
                About Us
            </h4>
            <p>
                An Online auction app that holds online auctions of various products and serves bidders accordingly.
                The bidding process can be conducted on a global scale. Bidder can at any time and from any place. 
                Just bid it and buy it!! 
            </p>
            <p>
                Check out the events page to find various events of your interest.
            </p>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>
