<%- include('./partials/header.ejs')%>
    <main>
        <div>
            <h4>
                Contact Us
            </h4>
            <p>
                Anuhya Uppalapati</br>
                auppalap@uncc.edu</br>
                +1 123-456-7890</br> 
            </p>
            <p>
                Address: University City Blvd, Charlotte - 28262
            </p>
            <p>
                Shivanjani Pathipaka</br>
                spathipa@uncc.edu</br>
                +1 456-789-1230</br> 
            </p>
            <p>
                Address: University City Blvd, Charlotte - 28262
            </p>
            <p>
                Sravani Kalangi</br>
                skalangi@uncc.edu</br>
                +1 478-245-7896</br> 
            </p>
            <p>
                Address: University City Blvd, Charlotte - 28262
            </p>
            <p>
                Veera Venkata Sai Borra</br>
                vborra@uncc.edu</br>
                +1 325-456-7537</br> 
            </p>
            <p>
                Address: University City Blvd, Charlotte - 28262
            </p>
            <p>
                Venkata Varaha Kumar Yadla</br>
                yvvkum@uncc.edu</br>
                +1 369-258-1470</br> 
            </p>
            <p>
                Address: University City Blvd, Charlotte - 28262
            </p>
            <p>
                Reach out to us for any queries or suggestions!
            </p>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>
