<%- include('./partials/header.ejs')%>
    <main>
        <div>
            <h4>
                Contact Us
            </h4>
            <p>
                Address: University City Blvd, Charlotte - 28262
            </p>
            <p> 
                Email: ssdi@uncc.edu
            </p>
            <p>
                Reach out to us for any queries or suggestions!
            </p>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>
