<%- include('./partials/header.ejs')%>
    <main>
        <div>
            <h4>
                Welcome to GOA : Garden Of All !
            </h4>
            <p>
                This is a one stop place to connect with your fellow gardeners and plant enthusiasts.
                You can buy or sell plants and produce, or even host gardening lessons at the location of your
                choice.
                We will provide you with a platform to meet your fellow enthusiasts and do what you like.
            </p>
            <p>
                Check out the events page to find various events of your interest.
            </p>
        </div>          
    </main>
<%- include('./partials/footer.ejs')%>
