<%- include('./partials/header.ejs')%>
    <main>
        <div>
            <h4>
                Welcome to Bidit!
            </h4>
            <p>
                In this site, buyers and sellers engage to bid the items , where in buyers purchase items through price bidding. Here, the bids have a base price and an ending time. Potential buyers who place the highest bidding price for an item are declared the winner and owners of particular item. 
            </p>
            <p>
                Check out the events page to find various events of your interest and Bid It Out.
            </p>
        </div>          
    </main>
<%- include('./partials/footer.ejs')%>
